*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Poppins";
}

.nav-bar{
    width: 100%;
    height: 92px;
    box-shadow: 0px 2.63px 10.02px 0px #7A757506;
   margin: 0 auto;
    box-shadow: 0px 21px 80px 0px #7A75750D;
    background-color: #FFFFFF;


}

.flex-nav{
    width: 1300px;
    height: 92px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.nav-list-itm{
    display: flex;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 16px;
    color: #656161;
    margin-right: 17rem;
    margin-top: 6px;

}

.nav-list-itm > li{
    list-style-type: none;
    margin-right: 4rem;
}

.see-demo-btn-nav{
    width: 140px;
    height: 50px;
    /* margin-top: 7px; */
   
    padding: 13px 28px 13px 28px;
    background-color: #5669FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;

    font-family: Poppins;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 16px;

  

}


.hero-section1{
    width: 1300px;
    z-index: 222;
    display: flex;
    margin: 0 auto;
   justify-content: space-between;
   
   
}


.hero-section1 .hs-title{
    width: 438px;
    margin-top: 230px;
    font-family: "Poppins";
    font-size: 52px;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0.03em;
    text-align: left;
    height: 156px;

}

.hero-section1 .hs-text{
    width: 591px;
    margin-top: 0.6rem;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    height: 48px;

}


.hero-section1 .hs-input-box{
    width: 405px;
   
    border-radius: 10px;
    height: 56px;
    outline: none;
   border: none;
   margin-top: 1rem;
}

.hero-section1 .hs-submit{
    width: 54px;
    
    padding: 12px 16px 13.15px 16px;
   
    border-radius: 10px;
   background-color: #5669FF;
   color: white;
    height: 37px;
    border: none;
    outline: none;
    position: absolute;
    bottom: 127px;
    left: 346px;
    margin-top: 1rem;

}

.hero-section1 .hs-input-box::placeholder{
    padding-left: 10px;
}

.hero-section1 .img-hero-sec1{
    position: relative;
    z-index: -21;
   
}


.info-sec{
    width: 1300px;
    margin: 0 auto;
}


.info-sec .info-sec-title{
   text-align: center;
    height: 78px;
    
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0.05em;
   
    margin: 0 auto;
    font-size: 52px;

}


.info-sec .info-sec-text{
    width: 543px;
    height: 48px;
    font-size: 16px;
    margin: 1rem auto 0rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}


.info-sec .info-sec-flex{
    display: flex;
    text-align: center;
    margin-top: 4rem;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;

    
   
}


.info-sec .info-sec-cards{
    width: 390px;
    height: 245px;
    box-shadow: 0px 1.4px 12.97px 0px rgba(118, 111, 111, 0.0364);

    box-shadow: 0px 4.69px 43.56px 0px rgba(118, 111, 111, 0.0536);
    
    box-shadow: 0px 21px 195px 0px rgba(118, 111, 111, 0.09);
    padding: 4rem;
    border: 1px solid rgba(243, 241, 241, 1);   
    border-radius: 10px;
}

.info-sec-cards > img{
    margin-top: -2rem;
}


.info-sec-cards .info-sec-cards-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin: 1rem 0rem;

    

}


.info-sec-cards .info-sec-cards-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    

}


.info-sec .info-sec-btn{
    width: 143px;
    height: 43px;
    border-radius: 10px;
    background: rgba(86, 105, 255, 1);


    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    
    
    color: rgba(255, 255, 255, 1);
    
    border: none;
    margin: 3rem 45% 0;


}

